 html, body {
        font-family: Arial, sans-serif;
        color: white;
        margin-top: 50px;
        background-color: rgb(25, 25, 25);
      }
      .title {
        font-weight: b;
      }
      .move-icon {
        font-size: 50px;
        padding: 10px 20px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .move-button {
        background-color: transparent;
        border: 3px solid white;
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 60px;
        margin-right: 10px;
      }
      /*padding = spaces inside button*/
      /*margin = spaces outside button*/
      .result {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      
      
      #resetbtn, .auto-play-button {
        background-color: white;
        color: black;
        border: none;
        padding: 8px 15px;
        font-size: 15px;
        cursor: pointer;
      }
  